@namespace GymTracker.Components.Dashboard

<div class="col-lg-4 my-3">
    <div class="d-flex flex-row flex-lg-column align-items-center align-items-lg-start justify-content-between gap-3">
        <h4 class="m-0">Add new events</h4>
        <div class="d-flex flex-row flex-lg-column gap-2 flex-grow-lg-1 w-100">
            <button class="btn btn-primary w-100">Training session</button>
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#@bodyMeasurementModalId">Body measurement</button>
        </div>
    </div>
</div>

<CreateBodyMeasurementModal ModalId="@bodyMeasurementModalId" SelectedDate="SelectedDate" OnMeasurementAdded="OnMeasurementAdded" />

@code {
    private string bodyMeasurementModalId = "bodyMeasurementModal";

    [Parameter]
    public DateOnly? SelectedDate { get; set; }

    [Parameter]
    public EventCallback OnMeasurementAdded { get; set; }
}