@rendermode InteractiveServer

@page "/"

@using GymTracker.Components.Dashboard

<PageTitle>Home</PageTitle>

<h3>Dashboard</h3>
<div class="row justify-content-center">
    <Calendar @bind-SelectedDate="selectedDate" />
    <CreateSection SelectedDate="selectedDate"/>
</div>
<EventList SelectedDate="selectedDate" />

@code {
    private DateOnly? selectedDate = DateOnly.FromDateTime(DateTime.Today);
}